* {margin: 0; padding: 0; box-sizing: border-box; color: #333; text-decoration: none; list-style: none; font-family: Arial, Helvetica, sans-serif;}
.header { position: fixed; z-index: 1 !important; box-shadow: 0 0 2px rgba(0,0,0,0.1); width: 100%; height: 64px; display: flex; justify-content: center; align-items: center; background-color: #85955F; }
.nav { position: relative; width: 1400px; height: 100%; display: flex; justify-content: space-between; align-items: center; }
.logo { width: 220px; height: 100%; display: flex; justify-content: center; align-items: center; }
.logo img { width: 100%; height: 100%; object-fit: cover; user-select: none; cursor: pointer; }
.nav-a { display: flex; flex-direction: row; align-items: center; height: 100%; }
.nav-a li { width: 100px; height: 100%; user-select: none; transition: .3s ease; display: flex; justify-content: center; cursor: pointer; align-items: center; }
.nav-a li:hover { background-color: #939F6B; }
.nav-a li a { color: #eee; font-weight: bold; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.nav-b { display: flex; flex-direction: row; align-items: center; height: 100%; }
.nav-b li { color: #eee; font-weight: bold; width: 100px; height: 100%;  display: flex; justify-content: center; align-items: center; user-select: none; cursor: pointer; transition: .3s ease;}
.nav-b li:hover { background-color: #939F6B; }
.loginmodal, .signupmodal { position: absolute; top: 100%; right: 110px; background-color: #fff; box-shadow: 0 0 15px rgba(0,0,0,0.4); border-top: #7a8f48 5px solid; display: none; justify-content: center; align-items: center; width: 250px; height: 200px;  }
.signupmodal { height: 230px; }
.login { width: 200px; height: 150px; display: flex; flex-direction: column; }
.signup { height: 180px; width: 200px; }
.signup form { height: 130px !important; }
.login h2, .signup h2 { font-size: 20px; margin-bottom: 20px; }
.login form, .signup form { height: 120px; width: 100%; display: flex; flex-direction: column; justify-content: space-between; }
.login input, .signup input { padding: 5px; }
.login button, .signup button { padding: 5px; border: none; background-color: #85955F; color: #eee; cursor: pointer; font-weight: bold; }
.active {display: flex;}

.aboutSection { width: 100%; display: flex; background-color: #eee; justify-content: center; align-items: center; padding: 90px 0; padding-top: 154px; }
.aboutBox { width: 1400px; display: flex; flex-direction: column; }
.title { margin-bottom: 56px; }
.en { font-size: 60px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #333; }
.en-sub { font-size: 16px; color: #333; margin-top: 8px; }
.aboutCon { width: 100%; height: 600px; display: flex; flex-direction: row; }
.imgbox { width: 650px; height: 600px; border-radius: 15px; background-image: url(../img/img2.jpg); background-position: center; background-size: cover;}
.aboutContent { margin-left: 45px; display: flex; flex-direction: column; justify-content: space-between; padding: 20px 0; }
.aboutContent h1 { font-size: 45px; width: 100%; text-align: center; }
.con h2 { font-size: 30px; margin-bottom: 5px; }
.con p { color: #555; }